body, html{
  height: 100%;
}

.background-img {
  background-image: url(./Assets/black_square.svg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  position: 100% 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

#landing_subtitle {
  padding-top: 350px;
}

#about_text {
  padding: 10%;
}

.fill-height {
  min-height: 95%;
  height:auto; /* cross-browser */
  height: 95%; /* cross-browser */
}

.container {
  text-align: center;
}
